body, html {
  height: 100%;
  color: #fff;
  text-align: center;
}

#home img {
  width: 35%;
  /*padding-top: 25%;*/
  max-width: 250px;
}

#about {
  background-color: #ccc;
  min-height: 50vh;
}

/*#about .col-xs-12 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10%;
}*/

#contact {
  /*min-height: 100vh;*/
  background-color: #ccc;
}

.navbar-default {
  background-color: #000;
  border: none;
}

.parallax1, .parallax2 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1 {
  background-image: url('../assets/img/bgrnd1.jpg');
  min-height: 100vh;
}

.parallax2 {
  background-image: url('../assets/img/bgrnd2.jpg');
  min-height: 50vh;
}

.center-align {
  /*position: relative;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .parallax1, .parallax2 {
        background-attachment: scroll;
    }

    #home img {
      width: 50%;
    }

}
