body, html {
  color: #fff;
  background-color: #000;
  text-align: center;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 18px;
}

#home {
  height: 100%
}

#home .container-fluid {
  height: 100%;
}

#home img {
  width: 35%;
  max-width: 250px;
}

#about, #contact{
  background-color: #bbb;
}

#contact h2 {
  padding: 5% 0;
}

.navbar-default {
  background-color: #000;
  border: none;
}

.navbar-brand {
  color: #ddd !important;
}

#navbar a:hover {
  color: #ddd !important;
}

.parallax1, .parallax2 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax1 {
  background-image: url('../assets/img/bgrnd1.jpg');
  height: 100%;
}

.parallax2 {
  background-image: url('../assets/img/bgrnd2.jpg');
}

.container-fluid{
  display: table;
  width: 100%;
  padding: 0;
}

.row-fluid {
  display: table-cell;
  vertical-align: middle;
}

.centering {
  float: none;
  margin: 10%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .parallax1, .parallax2 {
        background-attachment: scroll;
    }

    #home img {
      width: 50%;
    }

}
